src/main/java/ShareMarketServerImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://server.org/" name="ShareMarketServerImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://server.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types/>
  <message name="purchaseRemoteShare">
    <part name="buyerID" type="xsd:string"/>
    <part name="shareID" type="xsd:string"/>
    <part name="shareType" type="xsd:string"/>
    <part name="shareCount" type="xsd:int"/>
    <part name="targetMarket" type="xsd:string"/>
  </message>
  <message name="purchaseRemoteShareResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="listShareAvailability">
    <part name="shareType" type="xsd:string"/>
  </message>
  <message name="listShareAvailabilityResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="removeShare">
    <part name="shareID" type="xsd:string"/>
    <part name="shareType" type="xsd:string"/>
  </message>
  <message name="removeShareResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="addShare">
    <part name="shareID" type="xsd:string"/>
    <part name="shareType" type="xsd:string"/>
    <part name="capacity" type="xsd:int"/>
  </message>
  <message name="addShareResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="sellShare">
    <part name="buyerID" type="xsd:string"/>
    <part name="shareID" type="xsd:string"/>
    <part name="shareType" type="xsd:string"/>
    <part name="shareCount" type="xsd:int"/>
  </message>
  <message name="sellShareResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="handleRemoteSwap">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
    <part name="arg3" type="xsd:string"/>
    <part name="arg4" type="xsd:string"/>
    <part name="arg5" type="xsd:int"/>
    <part name="arg6" type="xsd:string"/>
  </message>
  <message name="handleRemoteSwapResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="sellRemoteShare">
    <part name="buyerID" type="xsd:string"/>
    <part name="shareID" type="xsd:string"/>
    <part name="shareType" type="xsd:string"/>
    <part name="shareCount" type="xsd:int"/>
    <part name="targetMarket" type="xsd:string"/>
  </message>
  <message name="sellRemoteShareResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="swapShares">
    <part name="buyerID" type="xsd:string"/>
    <part name="oldShareID" type="xsd:string"/>
    <part name="oldShareType" type="xsd:string"/>
    <part name="newShareID" type="xsd:string"/>
    <part name="newShareType" type="xsd:string"/>
  </message>
  <message name="swapSharesResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="purchaseShare">
    <part name="buyerID" type="xsd:string"/>
    <part name="shareID" type="xsd:string"/>
    <part name="shareType" type="xsd:string"/>
    <part name="shareCount" type="xsd:int"/>
  </message>
  <message name="purchaseShareResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="getShares">
    <part name="buyerID" type="xsd:string"/>
  </message>
  <message name="getSharesResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <portType name="ShareMarketServer">
    <operation name="purchaseRemoteShare" parameterOrder="buyerID shareID shareType shareCount targetMarket">
      <input wsam:Action="http://server.org/ShareMarketServer/purchaseRemoteShareRequest" message="tns:purchaseRemoteShare"/>
      <output wsam:Action="http://server.org/ShareMarketServer/purchaseRemoteShareResponse" message="tns:purchaseRemoteShareResponse"/>
    </operation>
    <operation name="listShareAvailability">
      <input wsam:Action="http://server.org/ShareMarketServer/listShareAvailabilityRequest" message="tns:listShareAvailability"/>
      <output wsam:Action="http://server.org/ShareMarketServer/listShareAvailabilityResponse" message="tns:listShareAvailabilityResponse"/>
    </operation>
    <operation name="removeShare" parameterOrder="shareID shareType">
      <input wsam:Action="http://server.org/ShareMarketServer/removeShareRequest" message="tns:removeShare"/>
      <output wsam:Action="http://server.org/ShareMarketServer/removeShareResponse" message="tns:removeShareResponse"/>
    </operation>
    <operation name="addShare" parameterOrder="shareID shareType capacity">
      <input wsam:Action="http://server.org/ShareMarketServer/addShareRequest" message="tns:addShare"/>
      <output wsam:Action="http://server.org/ShareMarketServer/addShareResponse" message="tns:addShareResponse"/>
    </operation>
    <operation name="sellShare" parameterOrder="buyerID shareID shareType shareCount">
      <input wsam:Action="http://server.org/ShareMarketServer/sellShareRequest" message="tns:sellShare"/>
      <output wsam:Action="http://server.org/ShareMarketServer/sellShareResponse" message="tns:sellShareResponse"/>
    </operation>
    <operation name="handleRemoteSwap" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
      <input wsam:Action="http://server.org/ShareMarketServer/handleRemoteSwapRequest" message="tns:handleRemoteSwap"/>
      <output wsam:Action="http://server.org/ShareMarketServer/handleRemoteSwapResponse" message="tns:handleRemoteSwapResponse"/>
    </operation>
    <operation name="sellRemoteShare" parameterOrder="buyerID shareID shareType shareCount targetMarket">
      <input wsam:Action="http://server.org/ShareMarketServer/sellRemoteShareRequest" message="tns:sellRemoteShare"/>
      <output wsam:Action="http://server.org/ShareMarketServer/sellRemoteShareResponse" message="tns:sellRemoteShareResponse"/>
    </operation>
    <operation name="swapShares" parameterOrder="buyerID oldShareID oldShareType newShareID newShareType">
      <input wsam:Action="http://server.org/ShareMarketServer/swapSharesRequest" message="tns:swapShares"/>
      <output wsam:Action="http://server.org/ShareMarketServer/swapSharesResponse" message="tns:swapSharesResponse"/>
    </operation>
    <operation name="purchaseShare" parameterOrder="buyerID shareID shareType shareCount">
      <input wsam:Action="http://server.org/ShareMarketServer/purchaseShareRequest" message="tns:purchaseShare"/>
      <output wsam:Action="http://server.org/ShareMarketServer/purchaseShareResponse" message="tns:purchaseShareResponse"/>
    </operation>
    <operation name="getShares">
      <input wsam:Action="http://server.org/ShareMarketServer/getSharesRequest" message="tns:getShares"/>
      <output wsam:Action="http://server.org/ShareMarketServer/getSharesResponse" message="tns:getSharesResponse"/>
    </operation>
  </portType>
  <binding name="ShareMarketServerImplPortBinding" type="tns:ShareMarketServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="purchaseRemoteShare">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://server.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.org/"/>
      </output>
    </operation>
    <operation name="listShareAvailability">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://server.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.org/"/>
      </output>
    </operation>
    <operation name="removeShare">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://server.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.org/"/>
      </output>
    </operation>
    <operation name="addShare">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://server.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.org/"/>
      </output>
    </operation>
    <operation name="sellShare">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://server.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.org/"/>
      </output>
    </operation>
    <operation name="handleRemoteSwap">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://server.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.org/"/>
      </output>
    </operation>
    <operation name="sellRemoteShare">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://server.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.org/"/>
      </output>
    </operation>
    <operation name="swapShares">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://server.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.org/"/>
      </output>
    </operation>
    <operation name="purchaseShare">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://server.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.org/"/>
      </output>
    </operation>
    <operation name="getShares">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://server.org/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.org/"/>
      </output>
    </operation>
  </binding>
  <service name="ShareMarketServerImplService">
    <port name="ShareMarketServerImplPort" binding="tns:ShareMarketServerImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

